html {
	background: #f1f1f1;
}
html {
  box-sizing: border-box;
  font-family: 'Helvetica-Light';
  font-size: 12px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p {
	padding-top: 15px;
	margin: 0;
}
strong {
	font-family: 'Helvetica-Bold';

}
.wrapper {
	width: 850px;
	margin: 0 auto;
}
.paper {
	background: #fff;
	width: 850px;
	height: 1100px;
	margin: 0 auto 50px;
	padding: 50px;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.line-thing {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #000;
	height: 3px;
	width: 50px;
}
.logo-image {
	width: 375px;
}
.top {
	overflow: hidden;
	margin-right: -50px;
	margin-left: -50px;
	padding-left: 50px;
	position: relative;
}
.top-logo {
	float: left;
}
.top-info {
	width: 200px;
	font-size: 12px;
	float:right;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	padding-bottom: 15px;
}

.top-info p {
	padding-top: 15px;
	margin: 0;

}
.red {
	color: rgb(165,29,29);
}
.light {
	color: rgb(177,177,177);
}

.not-spaced {
	padding-top: 0px;
}

.greeting {
	padding-top: 50px;
	width: 375px;
	border-bottom: 3px solid #333;
	padding-bottom: 15px;
}

.groupTitle {
	font-size: 14px;
	font-family: 'Helvetica-Bold';
}

.group {
	margin-top: 20px;
	overflow: auto;
}

.bottomBorder {
	border-bottom: 2px solid #000;
}

.colTitle {

	font-size: 12px;
	font-family: 'Helvetica-Bold';
}

.col {
		float:left;
		margin-right: 12px;
	line-height: 24px;
	display: inline-block;
	border-top: 1px solid #888;
}
.bottomBorder {
	border-bottom: 2px solid #000;
}

.invoice {
	width: 575px;
}
.invoice.dateBased .col:nth-of-type(1){
	width: 75px;
}

.invoice.dateBased .col:nth-of-type(2){
	width: 324px;
}

.invoice.dateBased .col:nth-of-type(3){
	width: 70px;
}

.invoice.dateBased .col:nth-of-type(4){
	width: 70px;
	margin-right: 0;
}

.group .row:first-of-type .col {
	border-top: none;
}

.invoice.projectBased .col:nth-of-type(1){
	width: calc(100% - 164px);

}
.invoice.projectBased .col:not(.colTitle):nth-of-type(1){
	padding-bottom: 3px;
	padding-top: 3px;
	line-height: 16px;
}
.invoice.projectBased .col:nth-of-type(2){
	width: 70px;
}

.invoice.projectBased .col:nth-of-type(3){
	width: 70px;
	margin-right: 0;
}

.total {

	line-height: 30px;
	font-size: 14px;
	font-family: 'Helvetica-Bold';
	overflow: auto;
	margin-top: 20px;
}
.total-title {
	border-top: 2px solid #000;
	float: left;
	width: calc(100% - 164px);
}
.total-hours {
	border-top: 2px solid #000;
	float: right;
	width: 70px;
	margin-right: 12px;
}
.total-amount {
	border-top: 2px solid #000;
	float: right;
	width: 70px;
}
.disclaimer {
	padding-top: 50px;
	font-family: 'Helvetica-Oblique';
	font-weight: 200;
	width: 575px;
}
.final-bar {
	position: absolute;
	left: 50px;
	bottom: 50px;
	background: #000;
	height: 3px;
	width: 575px;
}

.row .title {
	font-family: 'Helvetica-Bold';

	line-height: 1;
}

.row .col p {
	margin: 0;
	padding: 0;
}