@paper_padding: 50px;
@paper_shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
@grid_width: 203px;
@gutter: 12px;

@thick_black: 3px solid black;
@thin_black: 2px solid black;
@thin_grey: 1px solid #888888;

@font_size_normal: 12px;

@g3: @grid_width * 3 + @gutter * 2;
@g2 : @grid_width * 2 + @gutter;

html {
	background: #f1f1f1;
}
html {
  box-sizing: border-box;
  font-family: 'Helvetica-Light';
  font-size: 12px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p {
	padding-top: 15px;
	margin: 0;
}
strong {
	font-family: 'Helvetica-Bold';

}
.wrapper {
	width: 850px;
	margin: 0 auto;
}
.paper {
	background: #fff;
	width: 850px;
	height: 1100px;
	margin: 0 auto 50px;
	position: relative;
	padding-top: @paper_padding;
	box-shadow: @paper_shadow;
}
.line-thing {
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: @thick_black;
	width: @paper_padding;
	-webkit-print-color-adjust:exact;
}
.logo-image {
	width: @grid_width * 2 + @gutter - @paper_padding;
}
.top {
	overflow: hidden;

	padding-left: 50px;
	position: relative;
}
.top-logo {
	float: left;
}
.top-info {
	width: @grid_width;
	font-size: 12px;
	float:right;
	border-top: @thick_black;
	border-bottom: @thick_black;
	padding-bottom: 15px;
}

.red {
	color: rgb(165,29,29);
-webkit-print-color-adjust:exact;
}
.light {
	color: rgb(177,177,177);
	-webkit-print-color-adjust:exact;
}

.not-spaced {
	padding-top: 0px;
}

.greeting {
	padding-top: 50px;
	width: @grid_width - @paper_padding;
	margin-left: @paper_padding;
	border-bottom: @thick_black;
	padding-bottom: 15px;
}

.groupTitle {
	font-size: 14px;
	font-family: 'Helvetica-Bold';
}

.group {
	margin-top: 20px;
	overflow: auto;
}

.bottomBorder {
	border-bottom: 2px solid #000;
}

.colTitle {

	font-size: 12px;
	font-family: 'Helvetica-Bold';
}

.col {
		float:left;
		margin-right: 12px;
	line-height: 24px;
	display: inline-block;
	border-top: 1px solid #888;
}
.bottomBorder {
	border-bottom: 2px solid #000;
}

.invoice {
	width: @grid_width * 3 + @gutter * 2;
	padding-left: @paper_padding;

}
.invoice.dateBased .col:nth-of-type(1){
	width: 75px;
}

.invoice.dateBased .col:nth-of-type(2){
	width: 324px;
}

.invoice.dateBased .col:nth-of-type(3){
	width: 70px;
}

.invoice.dateBased .col:nth-of-type(4){
	width: 70px;
	margin-right: 0;
}

.group .row:first-of-type .col {
	border-top: none;
}

.invoice.projectBased .col:nth-of-type(1){
	width: ~"calc(100% - 164px)";

}
.invoice.projectBased .col:not(.colTitle):nth-of-type(1){
	padding-bottom: 3px;
	padding-top: 3px;
	line-height: 16px;
}
.invoice.projectBased .col:nth-of-type(2){
	width: 70px;
}

.invoice.projectBased .col:nth-of-type(3){
	width: 70px;
	margin-right: 0;
}

.total {

	line-height: 30px;
	font-size: 14px;
	font-family: 'Helvetica-Bold';
	overflow: auto;
	margin-top: 20px;
}
.total-title {
	border-top: 2px solid #000;
	float: left;
	width: ~"calc(100% - 164px)";
}
.total-hours {
	border-top: 2px solid #000;
	float: right;
	width: 70px;
	margin-right: 12px;
}
.total-amount {
	border-top: 2px solid #000;
	float: right;
	width: 70px;
}
.disclaimer {
	padding-top: 50px;
	padding-left: 50px;
	font-family: 'Helvetica-Oblique';
	font-weight: 200;
	width: @g3;
}
.final-bar {
	position: absolute;
	left: 50px;
	bottom: 50px;
	border-bottom: @thick_black;
	width: @g3 - @paper_padding;
	-webkit-print-color-adjust:exact;
}

.row .title {
	font-family: 'Helvetica-Bold';

	line-height: 1;
}

.row .col p {
	margin: 0;
	padding: 0;
}

.editable {
	position: relative;
	cursor: pointer;
	&:hover {
		&:before {
			content: 'edit';
			position: absolute;
			left: -30px;
			width: 30px;
			font-size: 10px;
			font-family: 'Helvetica'

		}
	}
}


@media print {
	:root {
  -webkit-print-color-adjust: exact;
}

	.paper {
		box-shadow: none;
		border: red;
		margin: 0;
	}
	.wrapper {
		display: none;
	}

	.red, .red * {
		color: rgb(165,29,29)!important;
		-webkit-print-color-adjust: exact;
	}

}